@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,800;0,900;1,300;1,600;1,700;1,800;1,900&family=Open+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,800;0,900;1,300;1,600;1,700;1,800;1,900&family=Open+Sans:wght@700&family=Yeseva+One&display=swap');


body {
    padding: 0;
    margin: 0;
}

.button {
    font-family: 'Nunito Sans';
    outline: 0;
    border: 0;
    padding: 13px 33px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-size: 11px;
}

.title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}

h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #E3B873;
}

input {
    font-size: 12px;
    padding: 10px;
    display: block;
    width: 400px;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(88, 85, 85);
    background: #131313;
}

.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}

.header-content {
    width: 1265px;
}

.header {
    background-color: black;
}

.logo {
    color: #E3B873;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
}

.fone {
    color: #E3B873;
    line-height: 15px;
    padding-right: 45px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
}

.header-navigation {
    width: 581px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 17px;
}

.header-navigation_items :hover {
    color: #E3B873;
}

.header-navigation_items a {
    color: white;
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-size: 11px;
}

.button .button01 {
    width: 161px;
    height: 37px;
    padding-top: 0;
}

button[name="request"] {
    cursor: pointer;
}

.number_button {
    display: flex;
    justify-content: center;
    align-items: center;
}





.block01 {
    height: 707px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/block01.png);
    position: relative;
    background-size: cover;
}

.block01-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.header-conteiner {
    position: relative;
    z-index: 1;
}

.underblock01 {
    width: 676px;
    height: 305px;
    padding-top: 190px;
    padding-left: 140px;
    margin-left: 0;
}

.title01 {
    color: white;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 400;
    letter-spacing: 0.1px;
    margin-bottom: 15px;
}

.rostov {
    color:
        #E3B873;
}

.text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 0;
    width: 504px;
    height: 89px;
}

.botton_case {
    justify-content: space-between;
    width: 500px;
    padding-top: 25px;
    padding-left: 3px;
}

.botton02 {
    width: 200px;
    height: 51px;
    background: #E3B873;
    border-color: #E3B873;
}

.white {
    background: none;
    border-color: white;
    color: #FFFFFF;
    margin-left: 25px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}




.block02 {
    height: 1074px;
    background: #131313;
    margin-left: auto;
    margin-right: auto;
}

.block02_project {
    width: 450px;
    height: 553px;
    padding-top: 107px;
    padding-left: 134.5px;
}

.block02_text {
    width: 442px;
    height: 390px;
}

.project {
    width: 253px;
    height: 66px;
    padding-top: 50px;
    letter-spacing: -0.07em;
}

.project_text {
    width: 442px;
    height: 85px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    padding-top: 10px;
}


.info h2 {
    margin: 0 0;
}

.info p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 5px;
}

.info {
    display: grid;
    grid-template-columns: 185px 200px;
    margin-top: 48px;
}

.scroll {
    background-image: url(../images/scroll.svg);
    width: 205px;
    height: 14px;
    margin-bottom: 0;
    margin-top: 130px;
    scroll-snap-type: x mandatory;
}

.info02 {
    padding-right: 5px;
}

.block02_all {
    display: flex;
}

.block2_admiral {
    width: 720px;
    height: 660px;
}

.header_admiral ul {
    list-style-type: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.navi {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.header_admiral {
    width: 660px;
    height: 24px;
    padding-top: 98px;
}

.header_admiral ul li :hover {
    color: #E3B873;
    text-decoration: underline;
}

.block2_images {
    background-image: url(../images/bloxk02.png);
    width: 679px;
    height: 482px;
    margin-top: 60px;
    margin-left: 40px;
}

.block2_logo {
    width: 196px;
    height: 67px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 78px;
    text-align: center;
}

.block2_logo h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.line {
    padding-bottom: 10px;
}

.video {
    position: relative;
    width: 817px;
    height: 434px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/woker.png);
    margin-top: -220px;
}

.video-overlate {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.video_botton {
    width: 85px;
    height: 85px;
    background-image: url(video_botton.jpg);
    margin-right: auto;
    margin-left: auto;
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border-radius: 60px;
}

.poligon {
    width: 20px;
    height: 28px;
    background-image: url(../images/Polygon.png);
    margin-right: auto;
    margin-left: auto;
    color: #FFFFFF;
    margin-top: -55px;
}

.video-push {
    padding-top: 173px;
    padding-left: 362px;
    position: absolute;
    z-index: 1;
}

.cherta {
    background-image: url(../images/cherta.png);
    background: #E3B873;
    border-radius: 30px;
    width: 55px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.content {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin-left: auto;
    margin-right: auto;
    width: 665px;
    height: 132px;
    padding-top: 12px;
}

.input01 {
    display: flex;
    width: 770px;
    height: 51px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    text-align: center;
    padding-top: 83px;
}

.group01 {
    position: relative;
    margin-top: -25px;

}

.input01 input {
    font-size: 12px;
    padding: 10px;
    display: block;
    width: 180px;
    height: 45px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    background: #FFFFFF;
}

input:focus {
    outline: none;
}


.input01 label {
    color: #363636;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 43px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
}

.button-input {
    width: 50px;
    height: 10px;
    padding: 15px 75px 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
}



.first-checkbox {
    background-image: url(../images/Group\ 49.png);
    width: 285px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}




.block2_logo .black {
    color: #000;
    margin-top: -6px;
}


.types {
    width: 1240px;
    height: 608px;
    display: flex;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.types__block01 {
    height: 580px;
    width: 392px;
    padding-left: 5px;
}

.types__block01 .types__img01 {
    background-image: url(../images/image01.png);
    width: 392px;
    height: 421px;
}

.types__block01 .types__img02 {
    background-image: url(../images/image02.png);
    width: 392px;
    height: 421px;
}

.types__block01 .types__img03 {
    background-image: url(../images/image03.png);
    width: 392px;
    height: 421px;
}

.types__block01 .types__text {
    width: 330px;
    height: 286px;
    margin-left: 35px;
    margin-top: -143px;
    background: white;
}

.types__text h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    padding-left: 30px;
    padding-top: 20px;
}

.types__text p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    padding-left: 30px;
    margin-top: -10px;
}

.button_block {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 6px;
}



.block4 {
    height: 560px;
    display: flex;
    padding-top: 228px;
}

.contecst {
    width: 527px;
    height: 539px;
    background-image: url(../images/wrap.png);
    /* margin-left: 35px; */
}

.number_button01 {
    display: grid;
    width: 450px;
    height: 570px;
    padding-left: 240px;
    padding-top: 42px;
}

.number01 {
    display: flex;
    justify-content: space-between;
    width: 390px;
    vertical-align: center;
}

.circle {
    width: 42px;
    height: 42px;
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border-radius: 60px;
    border-style: solid;
    border-width: 8px;
    border-color: #FFFFFF;
}

.circle img {
    width: 28px;
    height: 16px;
    padding-top: 12px;
    padding-left: 5px;
}

.number01 p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    width: 320px;
    height: 40px;
    margin: 0;
    padding-top: 10px;
}

.number01 .center {
    padding-top: 25px;
}



.data {
    width: 505px;
    height: 505px;
    background-color: #131313;
    margin-top: 40px;
    margin-left: 308px;
}

.data h3 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    width: 250px;
    height: 47px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
}


.group {
    position: relative;
    margin-bottom: 26px;
    padding-left: 45px;
}

input {
    font-size: 12px;
    padding: 10px;
    display: block;
    width: 400px;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(88, 85, 85);
    background: #131313;
}

input:focus {
    outline: none;
}


label {
    color: #FFFFFF;
    position: absolute;
    pointer-events: none;
    left: 45px;
    top: 45px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
}

.logo_checkbox {
    width: 250px;
    height: 18px;
    padding-left: 50px;
    margin-top: -11px;
    display: flex;
    justify-content: space-between;
    vertical-align: auto;
}

.logo_checkbox div {
    width: 18px;
    height: 18px;
    background-image: url(../images/check.png);
    background-image: url(../images/Vector.png);
    background: #E3B873;
}

.logo_checkbox p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: -2px;
}

.button_call {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 245px;
    margin-top: 41px;
}

.help {
    display: flex;
    vertical-align: auto;
    height: 225px;
    padding-left: 200px;

}

.logo_help {
    min-width: 72px;
    height: 72px;
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border-radius: 60px;
    margin-left: 898px;
    margin-top: 29px;
}

.logo_help img {
    width: 40px;
    height: 33px;
    padding-top: 20px;
    padding-left: 20px;
}

.help p {
    width: 344px;
    height: 47px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    padding-top: 25px;
    padding-left: 25px;
}



.block5 {
    height: 1010px;
}

.wraper_foto {
    background-image: url(../images/wraper_foto.png);
    background-size: cover;
    position: relative;
    height: 865px;
    margin: 110px 0;
}

.block5-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.fantezy {
    position: relative;
    z-index: 1;
    display: flex;
}

.info_block {
    width: 411px;
    height: 630px;
    padding-left: 100px;
    padding-top: 116px;
}

.info_block h1 {
    width: 411px;
    height: 66px;
}

.info_block ul {
    padding: 20px 0;
}

.info_block a {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    text-decoration: none;
}

.info_block li {
    margin-bottom: 11px;
}

.info_block a:hover {
    color: #E3B873;
    text-decoration: underline;
}

.foto_block1 {
    height: 947px;
    width: 354px;
    padding-left: 78px;
}

.foto01 {
    background-image: url(../images/foto02.png);
    width: 354px;
    height: 558px;
    margin-top: -40px;
}

.foto02 {
    background-image: url(../images/foto01.png);
    width: 354px;
    height: 350px;
    margin-top: 37px;
}


.foto_block2 {
    margin-left: 40px;
}


.foto03 {
    background-image: url(../images/foto03.png);
    width: 354px;
    height: 275px;
    margin-top: -112px;
}

.foto04 {
    background-image: url(../images/foto04.png);
    width: 354px;
    height: 625px;
    margin-top: 38px;
}

.clients {
    margin-top: -110px;
}

.clients img {
    padding-top: 7px;
}

.recommend {
    width: 420px;
    height: 57px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}




.client {
    display: grid;
    grid-template-columns: 430px 430px 430px;
    margin-left: 120px;
    padding-top: 47px;
    height: 785px;
}

.client01 {
    width: 320px;
    height: 428px;
}


.client01 img {
    width: 78px;
    height: 78px;
    border-radius: 40px;
}

.client01 h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    width: 178px;
    height: 42px;
    padding-left: 25px;
}

.client_block {
    display: flex;
}

.client01 p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
    padding-top: 5px;
}

.client01 .client_button {
    padding-top: 25px;
    width: 330px;
    height: 90px;
    margin-left: -30px;
}



.block6 {
    height: 954px;
    background-image: url(../images/block6.png);
    background-size: cover;
    position: relative;
    padding-top: 20px;
}

.block6-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

.questions {
    position: relative;
    z-index: 1;
}

.anyQuestions {
    position: absolute;
    width: 883px;
    height: 445px;
    background: black;
    margin-left: 285px;
    margin-top: -263px;
}

.anyQuestions h2 {
    color: #FFFFFF;
    padding-top: 20px;
    text-align: center;
   
}

.anyInput {
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    width: 550px;
    padding-top: 30px;
}




.group01 {
    position: relative;
    margin-bottom: 26px;
    padding-left: 45px;
}

.anyInput input {
    font-size: 12px;
    padding: 10px;
    display: flex;
    width: 200px;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(88, 85, 85);
    background: black;
}

input:focus {
    outline: none;
}


.anyInput label {
    color: #FFFFFF;
    position: absolute;
    pointer-events: none;
    left: 45px;
    top: 45px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
}

.anyInput01 input {
    font-size: 12px;
    padding: 10px;
    display: flex;
    width: 500px;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(88, 85, 85);
    background: black;
}

.anyInput01 {
    padding-top: 20px;
    padding-left: 140px;
}

.anyInput01 .logo_checkbox {
    padding-top: 33px;
    padding-left: 160px;
}

.anyInput01 button {
    margin-top: 52px;
    width: 190px;
    margin-left: 210px;
    height: 50px;
}

.adress h2 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 237px;
    width: 589px;
    height: 51px;
    text-align: center;
}

.adress img {
    padding-left: 680px;
    padding-top: 10px;
}

.map {
    background-image: url(../images/map.png);
    width: 926px;
    height: 463px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


.footer {
    height: 133px;
    padding-top: 5px;
}



@media (max-width: 1400px){

    .conteiner{
        width: 1200px;
    }

    .block2_images{
        padding-right:  0;
        width: 600px;
    }

    .header_admiral{
       width: 600px; 
    }

    .block4{
        padding-right:  40px;
    }

    .data{
        margin-left: 240px;
    }

    .info_block {
        width: 350px;
    }
    

    .foto_block1{
      padding-left: 20px;
    }


    .client{
        grid-template-columns: 400px 400px 400px;
    }

    .anyQuestions{
        margin-left: 180px;
    }

    .adress img{
        padding-left: 550px;
    }

    .help{
        padding: 0;
    }
}


@media (max-width: 1400px){
    .conteiner{
        width: 1000px;
    }

    .header-navigation{
        width: 450px;
    }

    .block02_project{
        padding-left: 50px;
        width: 400px;
    }

    .block2_admiral{
        width: 550px;
    }

    .project_text {
        width: 400px;
    }

    .header_admiral{
        width: 570px;

    }

    .header_admiral ul{
        padding-left: 0;
    }

    .block2_images{
        margin-left: 10px;
        width: 550px;
    }

    .types {
        width: 1050px;
    }

    .types__block01{
        width: 350px;
    }

    .types__block01 .types__img01{
        width: 350px;
    }

    .types__block01 .types__img02{
        width: 350px;
    }

    .types__block01 .types__img03{
        width: 350px;
    }

    .types__block01 .types__text{
        margin-left: 0;
    }

    .number_button01 {
        padding-left: 120px;
    }

    .data {
        margin-left: 50px;
    }

    .logo_help {
        margin-left: 500px;
    }

    .info_block {
        padding-left: 20px;
        width: 270px;
    }

    .foto_block2 {
        margin-left: 15px;
    }

    .client{
        margin-left: 0;
        grid-template-columns: 350px 350px 350px;
    }

    .anyQuestions{
        margin-left: 80px;
    }

    .adress img{
        padding-left: 450px;
    }
}

@media (max-width: 1100px){
    .conteiner{
        width: 80%;
    }

    .header-navigation{
        display: none;
    }

    .block02 {
        height: 1750px;
    }

    .block02_all {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .block2_admiral{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
    }

    .types{
        display: block;
       height: 1700px;
       width: 100%;
    }

    .types__block01{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }

    .block4{
        display: block;
        height: 1100px;
    }

    .fantezy{
        width: 90%;
    }

    .info_block {
        padding-left: 0;
    }

    .foto_block1 {
        width: 280px;
    }

    .foto_block2 {
        width: 280px;
    }

    .foto01 {
        width: 280px;
    }

    .foto02 {
        width: 280px;
    }

    .foto03 {
        width: 280px;
    }

    .foto04 {
        width: 280px;
    }

    .client{
        display: block;
        height: 1600px;
    }

    .client01{
        margin-bottom: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .anyQuestions{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .adress h2{
       padding: 10px;
    }

    .adress img{
        padding-left: 320px;
       
    }

    .map{
        width: 100%;
    }
}

@media (max-width: 900px){
    .conteiner{
        width: 80%;
    }

    .header-navigation{
        display: none;
    }

    .underblock01{
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
    }

    .block02 {
        height: 1750px;
    }

    .block02_all {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .block2_admiral{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
    }

  

    .input01{
        display: block;
        width:80%;
        height: 300px;
      
    }

    .input01 input{
        width: 80%;
    }

    .input01 label{
        left: 40px;
    }

    .group01{
        margin-bottom: 60px;
    }
    .button-input{
       margin-left: auto;
       margin-right: auto;
    }

    .types{
        display: block;
       height: 1700px;
       width: 100%;
    }

    .types__block01{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }

    .block4 {
        display: none;
    }

    .help{
      display: none;
    }



    .fantezy{
        display: block;
        height: 800px;
        padding-top: 100px;
    }

    .wraper_foto {
        background-image: none;
    }

    .block5-overlay{
        display: none;
    }

    .info_block{
        padding: 0;
        margin: 0;
        height: 170px;
        margin-left: auto;
        margin-right: auto;
    }

    .info_block ul{
        display: none;
    }

    .foto_block1 {
        width: 90%;
        height: 800px;
    }

    .foto01 {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .foto02 {
        display: none;
    }

    .foto_block2{
        display: none;
    }

    .client {
        display: none;
    }

    .clients {
        display: none;
    }

    .recommend{
        display: none;
    }

    .anyQuestions {
        width: 100%;
        margin: 0;
        height: 580px;
        margin-top: -190px;
    }

    .anyInput{
        display: block;
        padding: 0;
    }

    .anyInput input{
        width: 500px;
    }


    .anyInput01 {
        padding: 0;
    }


    .anyInput01 input{
        width: 200px;
        padding: 0;
        width: 500px;
    }

    .footer{
        display: none;
    }

    .map{
        width: 100%;
    }

    .adress{
        height: 800px;
    }
}